/* --------------------------------------PSEUDO SELECTORIES -----------------------------------*/



a:visited {
    color: purple;
}

.boton-personalizado:hover{
    background-color: brown;
}
.boton-personalizado:visited {
    color: grey;
}
/* ------------------------------------------GENERAL ------------------------------------------*/

body{
    /*FONDO*/
    background: url(images/fondo.png); 
    background-color: black;
    height: 100%; /*TODO: arreglar que cuando achico la pantalla el fondo anda mal*/

    /*Letra*/
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0px;
    padding-bottom: 100%;
}



h1 {
    margin:0px;
    padding: 0px;
    border: none;
}

p {
    padding-left: 10px;
    text-align: left;
}

/* ---------------------------------------CLASES ----------------------------------------------*/

.general {
    background: aliceblue;
    color: black;   
    text-indent: 10px;
    margin: 0px 13%;
    padding: 4px 50px;
    height: auto;

}

.encabezado {
    background: brown;
    color: aliceblue;   
    padding: 1%;
    margin: 0px 13%
}

.titulo {
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;   
}

.deciciones {
    position: sticky;
    display: flex;
    width: 100%;
    height: 50px;
    color: aliceblue;
    margin: 0px;
    margin-top: 30px;
    text-size-adjust: auto;
  }
.decision1{
    width: 50%;
    text-align: center;   
    font-weight: bold  ;

}
.decision2{
    width: 50%;
    font-weight: bold  ;
}

.boton-personalizado {
    text-decoration:none;
    font-weight: bold;
    font-size: 20px;
    color:#ffffff;

    background-color: rgb(209, 50, 50);
    border: 4px solid brown;
    margin: 0px;
    padding: 5px 30%;
    }

.lista{
    text-align: left;
    padding: 0px 2% 2% 2%;
}

.final{
    border-style: double;   
    margin: 30px;
    padding: 10 30px;
}

/* -------------------------------------------ID ----------------------------------------------*/


#introduccion {
    text-align: center;
    border-style: double ;   
    margin:30px;
    padding: 10px 30px;
}

#pie{
    color: white;
    font-size: 10px;
    text-align: right;
    font-weight: 900;
    margin: 0px 13%;
    height: auto;
}

#volver-index {
    margin: 30px;
}

